# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.elf
*.bin

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
# *.a
*.lib

# Executables
*.exe
*.out
*.app
*.bin

# PROS FILES
*.log
PROS/bin/output.elf
*.bin
PROS/bin/output.bin
PROS/bin/_pros_ld_timestamp.o
*.ini
desktop.ini
.vscode/*
